@import "tailwindcss";

@font-face {
	font-family: "heref";
	src: url("/fonts/heref-font/heref.otf") format("opentype");
}

.heref {
	font-family: "heref", sans-serif;
}

@font-face {
	font-family: "choco";
	src: url("/fonts/choco-font/choco.otf") format("opentype");
}

.choco {
	font-family: "choco", sans-serif;
}
